@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");



/* Apply Bindings */

#appcontent {
	-moz-binding: url("./splitbrowser.xml#toplevel-container") !important;
}

#appcontent > vbox > vbox > hbox > .primary-browser-wrapper {
	-moz-binding: url("./splitbrowser.xml#subbrowser-primary") !important;
}

subbrowser-container {
	-moz-binding: url("./splitbrowser.xml#container") !important;
}

subbrowser {
	-moz-binding: url("./splitbrowser.xml#subbrowser") !important;
}

vbox.vertical-container > hbox.horizontal-container {
	-moz-binding: url("./splitbrowser.xml#horizontal-container") !important;
}

vbox.vertical-container {
	-moz-binding: url("./splitbrowser.xml#vertical-container") !important;
}



/* tabbed browsing mode / simple mode */

subbrowser:not([browsertype="simple"]) > .subbrowser-browser-box > browser,
subbrowser[browsertype="simple"] > .subbrowser-browser-box > tabbrowser {
	display: none;
}


/* Toolbar Behaviour */

.subbrowser-toolbar-content {
	overflow: hidden;
}

.subbrowser-toolbar-item.urlbar-favicon-box {
	cursor: -moz-grab;
}

.subbrowser-toolbar-item.button.reload[disabled="true"],
.subbrowser-toolbar-item.button.stop[disabled="true"],
.subbrowser-toolbar-item.button.collapse,
.subbrowser-toolbar-item.button.expand {
	visibility: collapse;
}

:root[subbrowser-show-togglecollapsed-button="true"] subbrowser:not([content-collapsed="true"]) .subbrowser-toolbar-item.button.collapse,
:root[subbrowser-show-togglecollapsed-button="true"] subbrowser[content-collapsed="true"] .subbrowser-toolbar-item.button.expand {
	visibility: visible;
}


stack[anonid="toolbar-deck"]:not([selectedIndex="1"]) > [anonid="toolbar-deck-navbar"],
stack[anonid="toolbar-deck"]:not([selectedIndex="0"]) > [anonid="toolbar-deck-titlebar"] {
	visibility: hidden;
}
stack[anonid="toolbar-deck"]:not([selectedIndex="1"]) > [anonid="toolbar-deck-navbar"] .urlbar-favicon {
	visibility: collapse;
}


/* vertical toolbar */

.subbrowser-toolbox-vertical,
subbrowser[toolbar-mode="vertical"] .subbrowser-toolbox-horizontal {
	visibility: collapse;
}

subbrowser[toolbar-mode="vertical"] .subbrowser-toolbox-vertical {
	visibility: visible;
}

.subbrowser-toolbox-vertical {
	overflow: hidden;
}
.subbrowser-vertical-title {
	overflow: hidden;
	white-space: pre;
	text-align: center;
	line-height: 1;
}



/* positioning of popup-button */

#splitbrowser-add-button-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 32000;
}

#splitbrowser-add-button {
	position: fixed;
	z-index: 65000;
	cursor: pointer;
}


/* make "tabbrowser" being able to be collapsed */

subbrowser tabbrowser.subbrowser-browser .tabbrowser-arrowscrollbox {
	min-width: 0 !important;
}

subbrowser tabbrowser.subbrowser-browser > tabbox,
subbrowser tabbrowser.subbrowser-browser .tabbrowser-strip {
	overflow: hidden !important;
	min-width: 0 !important;
}

