@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


#appcontent {
	-moz-binding: url("./splitbrowser.xml#toplevel-container") !important;
}

#appcontent > vbox > hbox > .primary-browser-wrapper {
	-moz-binding: url("./splitbrowser.xml#subbrowser-base") !important;
}

subbrowser-container {
	-moz-binding: url("./splitbrowser.xml#container") !important;
}

subbrowser {
	-moz-binding: url("./splitbrowser.xml#subbrowser") !important;
}

subbrowser:not([browsertype="simple"]) > .subbrowser-browser-box > browser,
subbrowser[browsertype="simple"] > .subbrowser-browser-box > tabbrowser {
	display: none;
}

.subbrowser-toolbar-content {
	overflow: hidden;
}

.subbrowser-toolbar-item.urlbar-favicon-box {
	cursor: -moz-grab;
}


.subbrowser-toolbar-item.button.reload[disabled="true"],
.subbrowser-toolbar-item.button.stop[disabled="true"] {
	visibility: collapse;
}


#splitbrowser-add-button-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 32000;
}

#splitbrowser-add-button {
	position: fixed;
	z-index: 65000;
	cursor: pointer;
}



.subbrowser-toolbox-vertical {
	visibility: collapse;
}

subbrowser[orient="horizontal"][browserCollapsed="true"] .subbrowser-toolbox-vertical {
	visibility: visible;
}
