@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


.toolbarbutton-1.splitbrowser-button {
	list-style-image: url("./large/buttons.png");
}

#splitbrowser-expandAll-button {
	-moz-image-region: rect(0px 24px 24px 0px);
}
#splitbrowser-expandAll-button[buttonover="true"],
#splitbrowser-expandAll-button:hover {
	-moz-image-region: rect(24px 24px 48px 0px);
}
#splitbrowser-expandAll-button[disabled="true"],
#splitbrowser-expandAll-button[disabled="true"][buttonover="true"],
#splitbrowser-expandAll-button[disabled="true"]:hover {
	-moz-image-region: rect(48px 24px 72px 0px);
}

#splitbrowser-collapseAll-button {
	-moz-image-region: rect(0px 48px 24px 24px);
}
#splitbrowser-collapseAll-button[buttonover="true"],
#splitbrowser-collapseAll-button:hover {
	-moz-image-region: rect(24px 48px 48px 24px);
}
#splitbrowser-collapseAll-button[disabled="true"],
#splitbrowser-collapseAll-button[disabled="true"][buttonover="true"],
#splitbrowser-collapseAll-button[disabled="true"]:hover {
	-moz-image-region: rect(48px 48px 72px 24px);
}

#splitbrowser-removeAll-button {
	-moz-image-region: rect(0px 72px 24px 48px);
}
#splitbrowser-removeAll-button[buttonover="true"],
#splitbrowser-removeAll-button:hover {
	-moz-image-region: rect(24px 72px 48px 48px);
}
#splitbrowser-removeAll-button[disabled="true"],
#splitbrowser-removeAll-button[disabled="true"][buttonover="true"],
#splitbrowser-removeAll-button[disabled="true"]:hover {
	-moz-image-region: rect(48px 72px 72px 48px);
}

#splitbrowser-layout-grid-button {
	-moz-image-region: rect(0px 144px 24px 120px);
}
#splitbrowser-layout-grid-button[buttonover="true"],
#splitbrowser-layout-grid-button:hover {
	-moz-image-region: rect(24px 144px 48px 120px);
}
#splitbrowser-layout-grid-button[disabled="true"],
#splitbrowser-layout-grid-button[disabled="true"][buttonover="true"],
#splitbrowser-layout-grid-button[disabled="true"]:hover {
	-moz-image-region: rect(48px 144px 72px 120px);
}

#splitbrowser-gather-button {
	-moz-image-region: rect(0px 168px 24px 144px);
}
#splitbrowser-gather-button[buttonover="true"],
#splitbrowser-gather-button:hover {
	-moz-image-region: rect(24px 168px 48px 144px);
}
#splitbrowser-gather-button[disabled="true"],
#splitbrowser-gather-button[disabled="true"][buttonover="true"],
#splitbrowser-gather-button[disabled="true"]:hover {
	-moz-image-region: rect(48px 168px 72px 144px);
}

#splitbrowser-menu-button {
	-moz-box-orient: horizontal;
	-moz-image-region: rect(0px 192px 24px 168px);
}
#splitbrowser-menu-button[buttonover="true"],
#splitbrowser-menu-button:hover {
	-moz-image-region: rect(24px 192px 48px 168px);
}
#splitbrowser-menu-button[disabled="true"],
#splitbrowser-menu-button[disabled="true"][buttonover="true"],
#splitbrowser-menu-button[disabled="true"]:hover {
	-moz-image-region: rect(48px 192px 72px 168px);
}



[iconsize="small"] .toolbarbutton-1.splitbrowser-button,
.subbrowser-toolbar-item.button.collapse,
.subbrowser-toolbar-item.button.expand {
	list-style-image: url("./small/buttons.png");
}

[iconsize="small"] #splitbrowser-expandAll-button,
.subbrowser-toolbar-item.button.expand {
	-moz-image-region: rect(0px 16px 16px 0px);
}
[iconsize="small"] #splitbrowser-expandAll-button[buttonover="true"],
[iconsize="small"] #splitbrowser-expandAll-button:hover,
.subbrowser-toolbar-item.button.expand[buttonover="true"],
.subbrowser-toolbar-item.button.expand:hover {
	-moz-image-region: rect(16px 16px 32px 0px);
}
[iconsize="small"] #splitbrowser-expandAll-button[disabled="true"],
[iconsize="small"] #splitbrowser-expandAll-button[disabled="true"][buttonover="true"],
[iconsize="small"] #splitbrowser-expandAll-button[disabled="true"]:hover,
.subbrowser-toolbar-item.button.expand[disabled="true"],
.subbrowser-toolbar-item.button.expand[disabled="true"][buttonover="true"],
.subbrowser-toolbar-item.button.expand[disabled="true"]:hover {
	-moz-image-region: rect(32px 16px 48px 0px);
}

[iconsize="small"] #splitbrowser-collapseAll-button,
.subbrowser-toolbar-item.button.collapse {
	-moz-image-region: rect(0px 32px 16px 16px);
}
[iconsize="small"] #splitbrowser-collapseAll-button[buttonover="true"],
[iconsize="small"] #splitbrowser-collapseAll-button:hover,
.subbrowser-toolbar-item.button.collapse[buttonover="true"],
.subbrowser-toolbar-item.button.collapse:hover {
	-moz-image-region: rect(16px 32px 32px 16px);
}
[iconsize="small"] #splitbrowser-collapseAll-button[disabled="true"],
[iconsize="small"] #splitbrowser-collapseAll-button[disabled="true"][buttonover="true"],
[iconsize="small"] #splitbrowser-collapseAll-button[disabled="true"]:hover,
.subbrowser-toolbar-item.button.collapse[disabled="true"],
.subbrowser-toolbar-item.button.collapse[disabled="true"][buttonover="true"],
.subbrowser-toolbar-item.button.collapse[disabled="true"]:hover {
	-moz-image-region: rect(32px 32px 48px 16px);
}

[iconsize="small"] #splitbrowser-removeAll-button {
	-moz-image-region: rect(0px 48px 16px 32px);
}
[iconsize="small"] #splitbrowser-removeAll-button[buttonover="true"],
[iconsize="small"] #splitbrowser-removeAll-button:hover {
	-moz-image-region: rect(16px 48px 32px 32px);
}
[iconsize="small"] #splitbrowser-removeAll-button[disabled="true"],
[iconsize="small"] #splitbrowser-removeAll-button[disabled="true"][buttonover="true"],
[iconsize="small"] #splitbrowser-removeAll-button[disabled="true"]:hover {
	-moz-image-region: rect(32px 48px 48px 32px);
}



[iconsize="small"] #splitbrowser-layout-grid-button {
	-moz-image-region: rect(0px 96px 16px 80px);
}
[iconsize="small"] #splitbrowser-layout-grid-button[buttonover="true"],
[iconsize="small"] #splitbrowser-layout-grid-button:hover {
	-moz-image-region: rect(16px 96px 32px 80px);
}
[iconsize="small"] #splitbrowser-layout-grid-button[disabled="true"],
[iconsize="small"] #splitbrowser-layout-grid-button[disabled="true"][buttonover="true"],
[iconsize="small"] #splitbrowser-layout-grid-button[disabled="true"]:hover {
	-moz-image-region: rect(32px 96px 48px 80px);
}

[iconsize="small"] #splitbrowser-gather-button {
	-moz-image-region: rect(0px 112px 16px 96px);
}
[iconsize="small"] #splitbrowser-gather-button[buttonover="true"],
[iconsize="small"] #splitbrowser-gather-button:hover {
	-moz-image-region: rect(16px 112px 32px 96px);
}
[iconsize="small"] #splitbrowser-gather-button[disabled="true"],
[iconsize="small"] #splitbrowser-gather-button[disabled="true"][buttonover="true"],
[iconsize="small"] #splitbrowser-gather-button[disabled="true"]:hover {
	-moz-image-region: rect(32px 112px 48px 96px);
}

[iconsize="small"] #splitbrowser-menu-button {
	-moz-image-region: rect(0px 128px 16px 112px);
}
[iconsize="small"] #splitbrowser-menu-button[buttonover="true"],
[iconsize="small"] #splitbrowser-menu-button:hover {
	-moz-image-region: rect(16px 128px 32px 112px);
}
[iconsize="small"] #splitbrowser-menu-button[disabled="true"],
[iconsize="small"] #splitbrowser-menu-button[disabled="true"][buttonover="true"],
[iconsize="small"] #splitbrowser-menu-button[disabled="true"]:hover {
	-moz-image-region: rect(32px 128px 48px 112px);
}
