@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.subbrowser-toolbar-item.favicon,
.subbrowser-toolbar-item.urlbar-favicon {
	list-style-image: url("chrome://global/skin/icons/folder-item.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

subbrowser[busy="true"] .subbrowser-toolbar-item.favicon,
subbrowser[busy="true"] .subbrowser-toolbar-item.urlbar-favicon {
	list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif") !important;
	opacity: 0.6;
}



/* "Go" button in Firefox 2*/

#browser-stack subbrowser .subbrowser-toolbar-item.go > .toolbarbutton-text {
	display: none;
}

#browser-stack subbrowser .subbrowser-toolbar-item.go {
	-moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
	-moz-appearance: none;
	list-style-image: url("chrome://browser/skin/Go-arrow.png");
	-moz-image-region: rect(0px 25px 22px 0px);
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#browser-stack subbrowser .subbrowser-toolbar-item.go[chromedir="rtl"] {
	list-style-image: url("chrome://browser/skin/Go-arrow-rtl.png");
}

#browser-stack subbrowser .subbrowser-toolbar-item.go:not([disabled="true"]):hover {
	-moz-image-region: rect(0px 50px 22px 25px);
}
#browser-stack subbrowser .subbrowser-toolbar-item.go[disabled="true"] {
	-moz-image-region: rect(0px 75px 22px 50px);
}
#browser-stack subbrowser .subbrowser-toolbar-item.go:not([disabled="true"]):hover:active {
	-moz-image-region: rect(0px 100px 22px 75px);
}

#browser-stack subbrowser .subbrowser-toolbar-item.go > .toolbarbutton-icon {
	margin: 0;
}



/* ::::: 16px primary toolbar buttons ::::: */

.subbrowser-toolbar-item.button {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}
.subbrowser-toolbar-item.button[chromedir="rtl"] {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar-rtl-small.png");
}
.subbrowser-toolbar-item.button .toolbarbutton-icon {
  -moz-margin-end: 0px;
}
.subbrowser-toolbar-item.button label {
  display: none;
}


/* back button-- */

.subbrowser-toolbar-item.button.goBack .toolbarbutton-icon {
  padding-right: 1px;
}
.subbrowser-toolbar-item.button.goBack {
  -moz-image-region: rect(0px 16px 16px 0px);
}
.subbrowser-toolbar-item.button.goBack:not([disabled="true"]):hover,
.subbrowser-toolbar-item.button.goBack[buttonover="true"] {
  -moz-image-region: rect(16px 16px 32px 0px);
}
.subbrowser-toolbar-item.button.goBack[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px);
}
.subbrowser-toolbar-item.button.goBack:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 16px 80px 0px);
}


/* small forward button-- */

.subbrowser-toolbar-item.button.goForward .toolbarbutton-icon {
  padding-right: 1px;
}
.subbrowser-toolbar-item.button.goForward {
  -moz-image-region: rect(0px 32px 16px 16px);
}
.subbrowser-toolbar-item.button.goForward:not([disabled="true"]):hover,
.subbrowser-toolbar-item.button.goForward[buttonover="true"] {
  -moz-image-region: rect(16px 32px 32px 16px);
}
.subbrowser-toolbar-item.button.goForward[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}
.subbrowser-toolbar-item.button.goForward:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 32px 80px 16px);
}

/* stop button */

.subbrowser-toolbar-item.button.stop .toolbarbutton-icon {
  padding-left: 1px;
}
.subbrowser-toolbar-item.button.stop {
  -moz-image-region: rect(0px 48px 16px 32px);
}
.subbrowser-toolbar-item.button.stop:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}
.subbrowser-toolbar-item.button.stop[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px);
}
.subbrowser-toolbar-item.button.stop:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 48px 80px 32px);
}

/* reload button */

.subbrowser-toolbar-item.button.reload .toolbarbutton-icon {
  padding-left: 1px;
}
.subbrowser-toolbar-item.button.reload {
  -moz-image-region: rect(0px 64px 16px 48px);
}
.subbrowser-toolbar-item.button.reload:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 64px 32px 48px);
}
.subbrowser-toolbar-item.button.reload[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px);
}
.subbrowser-toolbar-item.button.reload:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 64px 80px 48px);
}
