@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* back button-- */

.subbrowser-toolbar-item.button.goBack,
.subbrowser-toolbar-item.button.goBack:not([disabled="true"]):hover,
.subbrowser-toolbar-item.button.goBack[buttonover="true"],
.subbrowser-toolbar-item.button.goBack:not([disabled="true"]):hover:active {
	list-style-image: url("moz-icon://stock/gtk-go-back?size=menu") !important;
	-moz-image-region: auto !important;
}

.subbrowser-toolbar-item.button.goBack[disabled="true"] {
	list-style-image: url("moz-icon://stock/gtk-go-back?size=menu&state=disabled") !important;
	-moz-image-region: auto !important;
}


/* forward button-- */

.subbrowser-toolbar-item.button.goForward,
.subbrowser-toolbar-item.button.goForward:not([disabled="true"]):hover,
.subbrowser-toolbar-item.button.goForward[buttonover="true"],
.subbrowser-toolbar-item.button.goForward:not([disabled="true"]):hover:active {
	list-style-image: url("moz-icon://stock/gtk-go-forward?size=menu") !important;
	-moz-image-region: auto !important;
}
.subbrowser-toolbar-item.button.goForward[disabled="true"] {
	list-style-image: url("moz-icon://stock/gtk-go-forward?size=menu&state=disabled") !important;
	-moz-image-region: auto !important;
}

/* stop button */

.subbrowser-toolbar-item.button.stop,
.subbrowser-toolbar-item.button.stop:not([disabled="true"]):hover,
.subbrowser-toolbar-item.button.stop:not([disabled="true"]):hover:active {
	list-style-image: url("moz-icon://stock/gtk-stop?size=menu") !important;
	-moz-image-region: auto !important;
}
.subbrowser-toolbar-item.button.stop[disabled="true"] {
	list-style-image: url("moz-icon://stock/gtk-stop?size=menu&state=disabled") !important;
	-moz-image-region: auto !important;
}

/* reload button */

.subbrowser-toolbar-item.button.reload,
.subbrowser-toolbar-item.button.reload:not([disabled="true"]):hover,
.subbrowser-toolbar-item.button.reload:not([disabled="true"]):hover:active {
	list-style-image: url("moz-icon://stock/gtk-refresh?size=menu") !important;
	-moz-image-region: auto !important;
}
.subbrowser-toolbar-item.button.reload[disabled="true"] {
	list-style-image: url("moz-icon://stock/gtk-refresh?size=menu&state=disabled") !important;
	-moz-image-region: auto !important;
}
